.product-free-shipping {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0px 8px;

    &__img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}