body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  position: inherit;
  height: 100%;

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}


// Components
@import '../src/infraestructure/components/Header/';
@import '../src/infraestructure/components/Input/';
@import '../src/infraestructure/components/Button/';
@import '../src/infraestructure/components/Product/ProductCard/';
@import '../src/infraestructure/components/Product/ProductPrice/';
@import '../src/infraestructure/components/Product/ProductTitle/';
@import '../src/infraestructure/components/Product/ProductFreeShipping/';
@import '../src/infraestructure/components/Product/ProductCondition/';


// Pages
@import '../src/infraestructure/Pages/Layout/';
@import '../src/infraestructure/Pages/ProductDetail/';
